{% set page="hydro_blog_home" %}
{% from './misc/paginator.html' import paginator as paginator %}
{% extends './basic.html' %}
{% block body %}
<div class="container">
    {% for post in posts -%}
    <div class="paper grid padding-small">
        <article>
            <h1>
                <a href="{{url('hydro_blog_post',post.id)}}">
                    {% if post.title %}{{post.title}}{% else %}{{_('Untitled')}}{% endif %}
                </a>
            </h1>
            <span class="meta">{{post.uname}}&nbsp;{{post.time.toLocaleString()}}</span>
            <div class="content">
                {{post.content.split('<!--more-->')[0]}}
            </div>
        </article>
        <nav>
            <ul></ul>
            <ul>
                <a href="{{url('hydro_blog_post',post.id)}}">
                    <li class="cyan">{{_('Read more')}}&nbsp;<i class="icon-right"></i></li>
                </a>
            </ul>
        </nav>
    </div>
    {%- endfor %}
</div>
{% endblock %}
{% block footer %}
{{ paginator(curpage,total) }}
{% endblock %}